<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='twitter.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jqx.base.css')}}">
		<script type="text/javascript" src="{{url_for('static', filename='jquery-1.11.1.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='jqxcore.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='jqxmenu.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='knockout-3.1.0.js')}}"></script>
	</head>
	<body>
		<script type="text/javascript">
			obj = {};
			currTweet = "";
			tweetId = "";	
            $(document).ready(function () {
            	obj["content"] = [];
            	$.getJSON( "http://127.0.0.1:5000/classification", function( data ) {
				  classifications = data;
					var viewModel = {
						self :this,
	        			categories: ko.observableArray(classifications),
	        			addNew : function(id){
	        				console.log("Added "+this["name"]+" "+id);
	        				obj["content"].push({"clasfId":id, "classId":this["_id"], "text":currTweet, "tweet_id":tweetId});
	        			},
	        			send: function(){
		        			console.log("sending");
		        			$.ajax({
							  type: "POST",
							  contentType: "application/json; charset=utf-8",
							  url: "http://127.0.0.1:5000/trainer",
							  data: JSON.stringify(obj),
							  success: function (data) {
							    console.log(data);
							  },
							  dataType: "json"
							});
		        		}
    				}

    				//console.log(viewModel.categories());
    				ko.applyBindings(viewModel);
    			    contextMenu = $("#jqxMenu").jqxMenu({ width: '120px', height: '140px', autoOpenPopup: false, mode: 'popup'});
            	});

            	
            	$(".myTweet").click(function (event) {
            			tweetId = $(this).attr("data-tweet-id");
            			currTweet = $('#'+tweetId).text();
                    //var rightClick = isRightClick(event);
                    //if (rightClick) {
                        var scrollTop = $(window).scrollTop();
                        var scrollLeft = $(window).scrollLeft();
                        contextMenu.jqxMenu('open', parseInt(event.clientX) + 5 + scrollLeft, parseInt(event.clientY) + 5 + scrollTop);
                        return false;
                    //}
                });
            })
        </script>

		<div class="twitter-timeline twitter-timeline-rendered" style="border: none; max-width: 100%; min-width: 180px; width: 520px; height:350">
			<div class="root timeline ltr customisable-border twitter-timeline not-touch twitter-timeline-rendered pending-scroll-in">
				<div class="stream" style="height: 263px">
					<ol class="h-feed">
					{% for tweet in tweets %}
						<li class="h-entry tweet myTweet" data-tweet-id={{tweet.id}}>
							<div class="header">
								<a class="u-url permalink" href="https://twitter.com/{{tweet.screen_name}}/statuses/{{tweet.id}}">
									<time pubdate class="dt-update">
									<abbr title="minutes">{{tweet.date}}</abbr>	
									</time>	 
								</a>
								<div class="h-card p-author">
									<a class="u-url profile" href="https://twitter.com/{{tweet.screen_name}}">
										<img class="u-photo avatar" src="{{tweet.ava}}">
										<span class="full-name">
											<span class="p-name customisable-highlight">{{tweet.name}}</span>
											<span class="p-nickname">@<b>{{tweet.screen_name}}</b></span>
										</span>
									</a>
								</div>
							</div>
							<div class="e-entry-content">
	    						<p id={{tweet.id}} class="e-entry-title">{{tweet.text}}</p>
	  						</div>
						</li>
					{% endfor %}
					</ol>
				</div>
			</div>
			<button data-bind="click:send"> Send </button>
		</div>
		<div id='jqxMenu'>
                <ul data-bind="foreach: { data: categories, as: 'category' }">
				    <li> <span data-bind="text: category.classification"></span>:
				        <ul data-bind="foreach: { data: classes, as: 'item' }">
				            <li>  
				                <span data-bind="text: item.name, click: $root.addNew.bind($data, $parent._id)" style="display:block; width:100%"></span>
				            </li>
				        </ul>
				    </li>
				</ul>
        </div>
	</body>
</html>